.container {
  display: flex;
  justify-content: space-around;
}

.controls {
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  align-self: center;
}

main {
  display: flex;
  justify-content: center;
}

.grid {
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 575px;
  width: 575px;
  background-color: gray;
  /* box-shadow: 10px 10px; */
}

.cell {
  background-color: white;
  border: 1px solid black;
}

button {
  width: 100px;
  padding: 10px;
  margin: 5px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}
